* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 330px;
    margin: 5px 100px 20px 0px;
}

.nav-item>a {
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    color: wheat!important;
    transition: all 200ms ease-in-out;
}

.nav-item a:hover {
    background-color: rgba(202, 151, 10, 0.68);
    transform: scale(1.1);
    font-weight: bold;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: wheat;
}