.title {
    padding-bottom: 15px;
    margin: 10px;
    font-size: 3.5em;
    font-weight: bolder;
}

.swimCourse {
    background-image: url('images/services/swim.png');
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

aside {
    background-color: rgb(24, 25, 26);
    box-shadow: 0px -2px 5px rgb(24, 25, 26), 0 0 10px rgb(24, 24, 24);
    padding-top: 20px;
    margin: 0;
    z-index: 10;
}

td small,
.sub,
.lastRowTimetable {
    color: mediumturquoise;
}


/* Sports & Fitness Service */

.menu-bodies img {
    opacity: 0.6;
    transition: opacity 0.5s;
    height: 250px;
    transition: all 500ms ease-in-out;
}

.mixture {
    box-shadow: 0 0 15px grey;
    border-radius: 15px;
    transition: all 500ms ease-in-out;
}

.mixture:hover {
    transform: scale(1.1);
    text-shadow: 0 0px 5px black, 0 0px 10px black, 0 0px 15px black, 0 0px 20px rgba(53, 52, 52, 0.808), 0 0px 28px rgba(0, 0, 0, 0.555);
    box-shadow: 0 5px 10px black, 0 0 20px rgba(255, 255, 0, 0.747), 0 0 30px rgba(255, 255, 0, 0.63), 0 0 40px grey, 0 0 50px rgba(255, 255, 0, 0.616), 0 0 70px grey;
}

.menu-bodies:hover {
    color: rgb(255, 186, 21);
    transition: all 30ms ease-in-out;
    text-shadow: 0 5px 10px black, 0 0 20px yellow, 0 0 30px rgba(255, 255, 0, 0.63), 0 0 40px rgba(255, 255, 0, 0.767), 0 0 50px rgba(255, 255, 0, 0.829), 0 0 70px yellow;
}

.menu-bodies:hover h6 {
    transform: rotate(360deg);
    transition: all 300ms ease-in-out;
}

.menu-bodies:hover img {
    transform: translate(-5px, 0px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 50ms ease-in-out;
    opacity: 1;
    height: 100%;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-item-next,
.active.carousel-item-right {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.carousel-item-prev,
.active.carousel-item-left {
    -webkit-transform: translate3d(0, +100%, 0);
    transform: translate3d(0, +100%, 0);
}


/* Group-X Service */

:root {
    --hover-width: 72%;
    --other-width: 28%;
    --speed: 1000ms;
}

.bannerGroupX {
    position: relative;
    width: 100%;
    height: 320px;
}

.partGroupX {
    position: absolute;
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.partGroupX.left {
    left: 0;
    background: url('images/services/boredom.jpg') center center no-repeat;
    background-size: cover;
}

.partGroupX.left:before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
}

.partGroupX.right {
    right: 0;
    background: url('images/services/groupX.jpg') center center no-repeat;
    background-size: cover;
}

.partGroupX.right:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
}

.partGroupX.left,
.partGroupX.right,
.partGroupX.right:before,
.partGroupX.left:before {
    transition: var(--speed) all ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: 50%;
}

.hover-left .right:before {
    z-index: 2;
}

.hover-right .right {
    width: var(--hover-width);
    font-weight: bolder;
    font-size: 15rem;
    text-shadow: black 0px 0px 5px, orangered 0px 0px 10px, orangered 0px 0px 15px, orangered 0px 0px 20px, orangered 0px 0px 28px;
}

.hover-right .left {
    width: var(--other-width);
}

.hover-right .left s {
    color: white;
    text-shadow: black 0px 0px 5px, orangered 0px 0px 10px, orangered 0px 0px 15px, orangered 0px 0px 20px, orangered 0px 0px 28px;
}

.hover-right .left:before {
    z-index: 2;
}


/* Group-X Classes */

.groupXClass {
    position: relative;
    padding: 0;
}

.imageClass {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 38px, rgb(0, 0, 0) 0px 5px 12px;
}

.nameClass {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.groupXClass:hover {
    background-color: rgba(255, 76, 44, 0.68);
    background-size: min-content;
}

.groupXClass:hover .imageClass {
    opacity: 0.69;
}

.groupXClass:hover .nameClass {
    opacity: 1;
    color: #fff;
    text-shadow: black 0px 0px 2px, black 0px 0px 3px, rgba(0, 0, 0, 0.712) 0px 0px 5px, orangered 0px 0px 15px;
    font-weight: bolder;
    z-index: 399;
}


/* Salon & Spa Service */

.textSpa {
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px rgb(23, 162, 184);
}

.treatments {
    position: relative;
    text-align: center;
    color: white;
}

.treatments>div {
    height: fit-content;
}

.treatments>div>h3 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolde;
    background-color: rgba(51, 136, 88, 0.534);
    border-radius: 15px;
}

.treatments>div>a {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    background-color: rgba(51, 136, 88, 0.534);
    border-radius: 15px;
}

@media only screen and (max-device-width: 1024px) {
    .bgimgSpa {
        background-attachment: scroll;
    }
}