* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 35, 36);
}

html {
    scroll-behavior: smooth;
}

header {
    background-image: url("images/headlogo.jpg");
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    background-position: center;
    z-index: 100;
}

.logo {
    width: 60%;
    margin: 5px -100px 20px 0px;
}

.nav-item .nav-link {
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    color: rgb(238, 212, 163)!important;
    font-weight: bold;
    font-size: larger;
    transition: all 200ms ease-in-out;
}

.nav-item .nav-link:hover {
    background-color: rgba(202, 151, 10, 0.68);
    transform: scale(1.1);
    border-radius: 10px;
    font-weight: bold;
    color: #000!important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: wheat;
}

.dropdown-item:hover {
    background-color: rgba(202, 151, 10, 0.68);
    font-weight: bold;
}

footer {
    padding: 20px;
    color: wheat;
    margin: 0 auto;
}

footer div a {
    color: #fff;
}

footer div a:hover {
    color: rgb(255, 193, 16);
}


/* RESPONSIVE 
Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    /*  */
    .fixed-top-header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        transition: 0.3s;
        padding: 30px 0;
        height: auto;
        display: block;
    }
    a {
        display: block;
    }
    .logo {
        width: 100%;
        margin: 5px 0px 20px 0px;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    /*  */
    a {
        display: block;
    }
    .logo {
        width: 100%;
        margin: 5px 0px 20px 0px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    /*  */
    a {
        display: block;
    }
    .logo {
        width: 100%;
        margin: 5px 0px 20px 0px;
    }
}