* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(34, 35, 36);
}

header {
    background-image: url("images/headlogo.jpg");
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    background-position: center;
    z-index: 100;
}

.logo {
    width: 80%;
    margin: 5px -100px 20px 0px;
}

.nav-item .nav-link {
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    color: rgb(238, 212, 163)!important;
    font-weight: bold;
    font-size: larger;
    transition: all 200ms ease-in-out;
}

.nav-item .nav-link:hover {
    background-color: rgba(202, 151, 10, 0.68);
    transform: scale(1.1);
    border-radius: 10px;
    font-weight: bold;
    color: #000!important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: wheat;
}

.dropdown-item:hover {
    background-color: rgba(202, 151, 10, 0.68);
    font-weight: bold;
}


/* .boredom {
    background: url(images/services/boredom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 390px;
    transition: all 500ms ease-in-out;
    box-shadow: 0 0px 5px black, 0 0px 10px black, 0 0px 15px black, 0 0px 20px rgb(22, 22, 22), 0 0px 28px rgba(0, 0, 0, 0.555);
}

.boredom:hover {
    background: url(images/services/groupX.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.boredom:hover .groupX {
    font-weight: bolder;
    color: white;
    text-shadow: black 0px 0px 5px, orangered 0px 0px 10px, orangered 0px 0px 15px, orangered 0px 0px 20px, orangered 0px 0px 28px;
}

.boredom:hover div s {
    color: white;
} */