* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(34, 35, 36);
}

header {
    background-image: url("images/headlogo.jpg");
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    background-position: center;
    z-index: 100;
}

.logo {
    width: 80%;
    margin: 5px -100px 20px 0px;
}

.nav-item .nav-link {
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    color: rgb(238, 212, 163)!important;
    font-weight: bold;
    font-size: larger;
    transition: all 200ms ease-in-out;
}

.nav-item .nav-link:hover {
    background-color: rgba(202, 151, 10, 0.68);
    transform: scale(1.1);
    border-radius: 10px;
    font-weight: bold;
    color: #000!important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: wheat;
}

.dropdown-item:hover {
    background-color: rgba(202, 151, 10, 0.68);
    font-weight: bold;
}